/**
General Purpose Styles written here to manage reduction of redundancy
*/

.display-inline-block {
    display: inline-block;
}
.display-block {
    display: block;
}
.display-flex {
    display: flex;
}
.display-inline {
    display: inline;
}
.cursor-pointer {
    cursor: pointer;
}
.text-align-center {
    text-align: center;
}