@import "../styles/variables";

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px $black-shadow;
  }
  100% {
    box-shadow: 0 0 0 35px transparent;
  }
}

.root-wrapper {
  header {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0 4px 3px $black-shadow;
    box-shadow: 0 4px 3px $black-shadow;
  }
  .header-content {
    justify-content: space-between;
    z-index: 1000;
    padding: 15px 40px;
    background-image: linear-gradient($dark-grey, $light-grey);
    span {
      font-family: "Lato", sans-serif;
      color: white;
    }
    .label {
      font-size: 1.5em;
    }
    .icon {
      width: 10px;
      height: 10px;
      color: #fff;
      border-radius: 50%;
      animation: shadow-pulse 1s infinite;
    }
    .icon.red {
      background: red;
    }
    .icon.orange {
      background: orange;
    }
    .socket-status {
      text-transform: uppercase;
    }
    button {
      border: none;
      color: white;
      padding: 6px 14px;
      border-radius: 8px;
      background: $button-blue;
    }

    button:after {
      content: "";
      mix-blend-mode: screen;
      position: absolute;
      top: 8px;
      left: 14px;
      width: 16px;
      height: 16px;
      background: $alpha-blue;
      opacity: 0;
      border-radius: 100%;
      transform-origin: 50% 50%;
    }
  }
}
