<div class="container-fluid stock-wrapper">
  <div class="row">
    <div class="col-lg-12 col-xl-6 left-container">
      <div class="root-header text-align-center">
        <span>Real Time Stock Information</span>
      </div>
      <mat-card class="animated fadeIn delay-1s">
        <div class="display-flex header-wrapper">
          <i class="fa fa-refresh ml-3 mt-3 cursor-pointer" aria-hidden="true" (click)="resetStockHistory()" title="Reset Stock History"></i>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Stock Name" [(ngModel)]="searchQuery" (input)="searchStockQuery($event.target.value)" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </form>
        </div>
        <div class="cards-layout" style="max-height: 400px; height: 400px;">
          <perfect-scrollbar [config]="config">
            <div class="row">
              <div class="col-6 mb-1 px-3 pb-1" *ngFor="let stock of stockContent | keyvalue; let i=index; trackBy: dataTracker">
                <mat-card [ngClass]="['stock-content cursor-pointer', currentStock === stock.key ? 'darken': '']" (click)="loadStockChart(stock.key)">
                  <div class="grid-content m-1">
                    <div class="">
                      <span class="stock-label">{{stock.key}}</span>
                      <span class="stock-update mr-1 mt-1">{{getTimeDifference(stock.value.timestamp)}}</span>
                    </div>
                    <div class="display-block">
                      <span>{{stock.value.current}}$</span>
                      <i [ngClass]="['fa ml-1', stock.value.current >= stock.value.prev ? 'fa-arrow-up': 'fa-arrow-down']"
                        aria-hidden="true"></i>
                      <span style="font-size: 12px;"
                        [ngClass]="[stock.value.current >= stock.value.prev ? 'up': 'down']"
                        [innerHTML]="getDifference(stock.value.current, stock.value.prev)"></span>
                    </div>
                    <div class="min-max-wrapper">
                      <span class="mr-2">Min : {{stock.value.min}}</span>
                      <span>Max : {{stock.value.max}}</span>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </perfect-scrollbar>
        </div>
      </mat-card>
    </div>
    <div class="col-lg-12 col-xl-6 right-container">
        <div class="root-header text-align-center">
          <span>Real Time Graph</span>
        </div>
      <mat-card class="animated fadeIn delay-1s">
          <app-chart [id]="'full-chart'"></app-chart>
      </mat-card>
    </div>
  </div>
</div>